*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/vcs.xml
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/issuestore/f/2/f2d75b0edd7afe5afa7cda9c044264776b0b00da
.idea/sonarlint/issuestore/b/7/b71bdf1faa8901a496ace4e0ad575edc3fa7f4dc
.idea/sonarlint/issuestore/2/3/237d15963334a0645e9e71ef46bcf977febc7c26
.idea/.name
